:root {
  font-size: 16px;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  cursor: default;
  user-select: none;
  overflow: hidden;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  line-height: 1.125rem;
}

button {
  box-sizing: border-box;
  background: #393;
  color: #fff;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0;
  outline: 0;
  border: 1px solid #222;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-shadow: rgba(0, 0, 0, .4) 1px 2px;
  white-space: nowrap;
  width: 100%;
}

button:active {
  transform: translate(0, 1px);
}

button:disabled {
  background: #666;
  color: #aaa;
  opacity: 0.3;
}

canvas {
  vertical-align: middle;
}

input[type="number"], input[type="text"] {
  box-sizing: border-box;
  background: #111;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

input[type="checkbox"] {
  accent-color: #393;
}

#debug {
  user-select: all;
}

#fps {
  display: inline-block;
  width: 32px;
  text-align: center;
}

#info {
  box-sizing: border-box;
  padding: 1rem;
  width: 270px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0.2;
}

#info a {
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: underline;
}

#layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

#loading {
  display: none;
  position: absolute;
  left: 310px;
  top: 2.5rem;
}

#loading.enabled {
  display: block;
}

#loading::before {
  animation: 1.5s linear infinite spin;
  animation-play-state: inherit;
  border: solid 5px #333;
  border-bottom-color: #393;
  border-radius: 50%;
  content: "";
  height: 32px;
  width: 32px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

#ui {
  box-sizing: border-box;
  width: 270px;
  background-image: linear-gradient(to right, #222, #333);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#ui > h1 {
  text-align: center;
  margin: 0 0 1.5rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  background-color: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#ui > h4 {
  font-size: 1rem;
  margin: 1rem 0 0.5rem;
  padding: 0 1rem;
}

#ui .form {
  padding: 0 1rem;
}

#ui .form > div {
  display: flex;
  height: 1.75rem;
  align-items: center;
  gap: 0.5rem;
}

#ui .form > div > label, #ui .form > div > input {
  width: 50%;
}

#ui .actions {
  display: flex;
  padding: 0 1rem;
  gap: 0.5rem;
}

#ribbon {
  width: 12.1em;
  height: 12.1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  pointer-events: none;
  font-size: 13px;
  text-decoration: none;
  text-indent: -999999px;
}

#ribbon:before, #ribbon:after {
  position: absolute;
  display: block;
  width: 15.38em;
  height: 1.54em;
  top: 3.23em;
  right: -3.23em;
  box-sizing: content-box;
  transform: rotate(45deg);
}

#ribbon:before {
  content: "";
  padding: .38em 0;
  background-color: #393;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

#ribbon:after {
  content: attr(data-ribbon);
  color: #fff;
  font: 700 1em monospace;
  line-height: 1.54em;
  text-decoration: none;
  text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0;
  padding: .15em 0;
  margin: .15em 0;
  border-width: .08em 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}
